<div class="product-details">
    {{!-- Header --}}
    <section>
        <h3>{{'Beats Solo Wireless Headphones'}}</h3>
        <div class="text-warning">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        </div>
    </section>
    {{!-- Price --}}
    <section class={{unless @isDetails 'h4'}}>
        <del data-test-original-price class="small text-black-50">{{'$199.95'}}</del>
        <i data-test-current-price class="text-danger font-weight-bold">{{'$99.95'}}</i>
    </section>
</div>
